<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Transform8</title>
  <meta name="description" content="Transform8.">
  <meta name="author" content="Samual Holmes">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>

  <body>
    <h2>Transform8 Admin Login</h2>

    <div class="form">
      <div class="imgcontainer">
        <img src="img/transform8-logo_opt.jpg" alt="Avatar" class="avatar">
      </div>

      <div class="container">
        <label><b>Email</b></label>
        <input id="email-textbox" type="text" placeholder="Enter Email">

        <label><b>Password</b></label>
        <input id="password-textbox" type="password" placeholder="Enter Password">
        
        <button id="login-btn">Login</button>
      </div>
    </div>
    <div id="snackbar">Some text some message..</div>
    <div id="collapse-container" class="collapse">
      <h3>Hello Mum!</h3>
      <div class="row">
        <div class="col-sm-3">
          <button class="btn btn-success">View All Clients</button>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-primary">View Clients Logs</button>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-info">Send New Workout</button>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-warning">Send Push Notification</button>
        </div>
      </div>
    </div>

    <script src="js/script.js"></script> <!-- This script must be first -->
  </body>
  </html>