<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Lunch Picker 3000</title>
  <meta name="description" content="Transform8.">
  <meta name="author" content="Samual Holmes">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>

  <body>
    <h2>Lunch Picker 3000</h2>

    <button id="lunchBtn" class="btn-lrg">LUNCH</button>
    <h1 id="choice"></h1>
    <script src="js/script.js"></script>
  </body>
  </html>