@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    border-radius: 8px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

html {
	font-family: 'Open Sans',serif;
}
body {
    margin: 16px;
}
.form {
    border: 3px solid #777777;
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(green, orange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(green, orange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(green, orange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(green, orange); /* Standard syntax */
    border-radius: 5px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
     display: block;
     float: none;
 }
 .cancelbtn {
     width: 100%;
 }
}

h2{
   text-align: center;
}

.collapse {
    border: 3px solid #777777;
    border-radius: 5px; 
    padding: 16px;
    margin-top: 24px;
    background-color: #ededed;
}

#left-col{
    /*border-right: : solid 3px #777777;*/
}

.info{
    font-weight: bold;
    font-size: 18px;
}

.food-log{
    /*margin: 16px !important;*/
}